body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.button {
  padding: 13px 45px 11px 45px;
  margin-left: 9px;
  height: 40px;
  width: 157px;
  border-radius: 20px;
  border: none;
  background-color: #6f2cff;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: #4e4cd8;
  transition: 1s;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 21px 0 23px 0;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
}

.header-link {
  font-size: 14px;
  line-height: 14px;
  color: #1c1c1c;
}

.header-list li:not(:last-child) a {
  margin-right: 62px;
}

.header-btn {
  margin: 13px 0 15px 0;
}

.main {
  background-color: #f6bed9;
  padding: 58px 0 58px 0;
}

.main-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 61px;
  max-width: 470px;
}

.main-title_part {
  color: #6f2dff;
}

.main-txt {
  font-size: 18px;
  line-height: 30px;
  max-width: 438px;
  margin: 18px 0;
}

.main-txt_bold {
  font-weight: 700;
}

.main-input {
  height: 45px;
  width: 268px;
  border: 1px solid #6f2cff;
  border-radius: 28px;
  padding-left: 26px;
}

.main-input::placeholder {
  font-size: 15px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.27);
}

.main-input:focus {
  outline: none;
}

.main-button {
  height: 45px;
  width: 187px;
  margin-left: 9px;
}

.grow {
  margin: 136px auto;
}

.grow-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #1c1c1c;
  max-width: 415px;
}

.grow-box:first-child {
  margin-right: 34px;
}

.grow-box {
  max-width: 333px;
  text-align: center;
}

.grow-item {
  padding: 35px 0 85px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
  border-radius: 0px 0px 7px 7px;
}

.grow-item_title {
  padding-bottom: 28px;
  font-size: 26px;
  line-height: 22px;
}

.grow-item_txt {
  font-size: 18px;
  line-height: 22px;
  color: #6f2cff;
  max-width: 219px;
  margin: 0 auto;
}

.commerce {
  padding-bottom: 147px;
  margin-top: 31px;
}
.commerce-title {
  margin-bottom: 79px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
  text-align: center;
}
.commerce-list {
}
.commerce-item {
}
.commerce-img {
  padding-bottom: 42px;
  display: block;
  margin: auto;
}
.commerce-pretitle {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  padding-bottom: 16px;
}
.commerce-txt {
  max-width: 316px;
  font-size: 15px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

.footer {
  background-color: #20003c;
  padding: 58px;
}

.footer-list li:not(:last-child) a {
  padding-right: 74px;
}

.footer-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
